<style media="screen">
  li {
    height : 100px;
    width: 100px;
    color: white;
    background-color: black;
    margin-bottom: 30px;
  }
</style>

<h1>Icecream for {{eater}}</h1>

<ul>
{{#each icecreams }}
  <li>name:{{name}}</li>
  <li>price:{{price}}</li>
  <li>awesomeness:{{awesomeness}}</li>
{{/each}}
</ul>
